/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: black;
}

nav{
	height:64px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #eceff1;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
	.nome{
		font-size:7vw !important;
	}
	.developer{
		font-size:3.5vw !important;
	}
}

@media only screen and (max-width : 600px) {
	
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#index-banner{
	height:93vh;
}

.section{
	width:100%;
}

.endereco{
	padding-left:3em;
}

.edu-titulo{
	padding-top:0.3em;
	font-size:1.5em;
}

.facebook, .twitter, .linkedin, .instagram, .vimeo, .google-plus{
	color:white;
	transition:all .5s;
}

.github, .onedrive, .nxstep, .facebook-pessoa{
	color:black;
	transition:all .5s;
}

.facebook:hover, .facebook-pessoa:hover{
	color:#3b5998;
	transition:all .25s;
}
.twitter:hover{
	color:#1da1f2;
	transition:all .25s;

}
.linkedin:hover{
	color:#287bbc;
	transition:all .25s;

}
.instagram:hover{
	color: black;
	transition:all .25s;
}
.vimeo:hover{
	color:#4bf;
	transition:all .25s;
}
.google-plus:hover{
	color:#db4437;
	transition:all .25s;
}
.github:hover{
	color:#4078c0;
	transition:all .25s;
}

.onedrive:hover{
	color:#0078d7;
	transition:all .25s;
}

.nxstep:hover{
	color:#C2E932;
	transition:all .25s;
}

.a-q:hover{
	font:bold;
	font-style:italic;
}

.justificado-sem-padding{
	text-align:justify;
	padding-top:0px !important;
}


#portfolio, #educacao, #experiencia{
	min-height:95vh;
}

#contato{
	min-height:75.5vh;
}

small.right{
	text-align:right;
}

.row.form{
	margin-bottom:0;
}

.nome{
	font-weight:200;
	font-size:5vw;
}

.developer{
	font-size:2.5vw;
	font-style:italic;
	font-weight:lighter;
}

.card-esticar{
	width:70vw;
}